* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  background-color: #194f90;
}

h2 {
  font-weight: bold;
  text-align: center;
  font-size: 3.5rem;
}

nav {
  background-color: #194f90ce;
  z-index: 1;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

nav a {
  color: white;
  -webkit-transition: .3s color;
  transition: .3s color;
  font-size: 16px;
}

nav a:hover {
  color: #ffffff80;
}

nav .navbar-brand {
  font-weight: bold;
  font-size: 18px;
}

nav .active {
  font-weight: 600;
}

header {
  color: white;
  font-size: 20px;
}

header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/norway-2128137_1920.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

header .hero-shadow {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000000b6;
  z-index: -10;
}

header .hero-text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 5;
  text-align: center;
}

header .hero-text h1 {
  font-size: 1.6rem;
  padding: 10px;
}

header .fa-chevron-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 30px;
  color: white;
}

main .goals {
  height: 100vh;
  background-color: #f6d04d;
}

main .goals .goal-block {
  height: 100px;
  background-color: white;
  padding: 15px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .goals .goal-block p {
  font-weight: 500;
  font-size: 20px;
  padding-left: 15px;
}

main .goals .goal-block img {
  height: 70px;
}

main .goals #increase, main .goals #group, main .goals .differences {
  margin-top: 15px;
}

main .goals .differences, main .goals .about-grants {
  background-color: white;
  padding: 15px;
  border-radius: 25px;
}

main .goals .differences h4, main .goals .about-grants h4 {
  font-weight: 600;
  font-size: 35px;
}

main .members {
  background-color: #2999ff;
  color: white;
}

main .members h3 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 20px;
}

main .members .countries-chart .chart-container {
  background-color: white;
  border-radius: 25px;
  padding: 15px;
  height: 650px;
}

main .members .countries-chart p {
  font-size: 10px;
  color: #000;
  margin-top: 5px;
}

main .poland {
  height: 100vh;
  background-color: #eb2e2e;
  color: white;
}

main .effects {
  height: 100vh;
  background-color: #9ed85b;
}

main .more {
  height: 100vh;
  background-color: #622bc7;
  color: white;
}

footer {
  height: 50px;
  background-color: #121c3f;
  color: white;
  text-align: center;
  line-height: 50px;
}

footer .forent-logo {
  font-weight: 600;
}

footer .team-logo {
  font-weight: 100;
}
/*# sourceMappingURL=main.css.map */
